<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wsz.mybatis.dao.BookMapper">
	<resultMap type="cn.wsz.mybatis.domain.Book" id="BaseResultMap">
		<id     property ="id"       column="id"/>
		<result property="name"      column="name"/>
		<result property="author"    column="author"/>
		<result property="realName"  column="real_name"/>
		<result property="price"     column="price"/>
		<result property="des"       column="des"/>
		<result property="date"      column="date"/>
	</resultMap>
	
	<parameterMap id="book" type="cn.wsz.mybatis.domain.Book"/>
	
	<sql id="Base_Column">
		id,name,author,real_name,price,des,date
	</sql>
 	 
 	<select id="findAll" resultMap="BaseResultMap">
 		select	<include refid="Base_Column"/>
 		from book
 	</select>

	<select id="getById" resultType="cn.wsz.mybatis.domain.Book" parameterType="Long">
		select id, name, author, price, des, date
		from book
		where id = #{id}
	</select>

	<select id="findOne" resultType="cn.wsz.mybatis.domain.Book" parameterType="Long">
		select <include refid="Base_Column"/>
		from book
		where id = #{id}
	</select>

 	 <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
 	 	select	<include refid="Base_Column"/>
 		from book
 		where id = #{id}
 	 </select>

	<select id="findByMap" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column"/>
		from book
		where author like concat('%',#{author},'%') or name like concat('%',#{name},'%')
	</select>

	<select id="findByAno" resultMap="BaseResultMap">
		select <include refid="Base_Column"/>
		from book
		where author like concat('%',#{author},'%') or name like concat('%',#{name},'%')
	</select>

	<select id="findByJavaBean" resultMap="BaseResultMap" parameterType="cn.wsz.mybatis.domain.Book">
		select <include refid="Base_Column"/>
		from book
		where author like concat('%',#{author},'%') or name like concat('%',#{name},'%')
	</select>

 	 <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
 	 	select	<include refid="Base_Column"/>
 		from book
 		where name like #{name}
 	 </select>
 	 
 	 <select id="findByAuthor" resultMap="BaseResultMap" parameterType="java.lang.String">
 	 	select	<include refid="Base_Column"/>
 		from book
 		where author like #{author}
 	 </select>	

	<select id="countAllByAuthor" resultType="int" parameterType="String">
		select COUNT(*) as total
		from book
		where author like concat('%',#{author},'%')
	</select>

 	 <insert id="insertBook" useGeneratedKeys="true" keyProperty="id" parameterType="cn.wsz.mybatis.domain.Book"> 
 	  	 insert into book(id,name,author,price,des,date)
 	  	 values(#{id},#{name},#{author},#{price},#{des},#{date})
 	 </insert>

 	 <insert id="batchInsert"> 
 	  	insert into book(id,name,author,price,des,date)
 	 	values 
 	 		<foreach item="item" index="key" collection="list"  open="" separator="," close="">
 	 			(#{item.id},#{item.name},#{item.author},#{item.price},#{item.des},#{item.date})
            </foreach> 
 	 </insert> 	 
 	 
 	 
 	 <update id="updateById" parameterType="java.lang.Long">
 	 	update book 
 	 	set des = 'aaaaaaaaaaaa'
 	 	where id = #{id}
 	 </update>
 	 
 	 <update id="updateBook" parameterMap="book">
 	 	update book 
 	 	set name = #{name},author = #{author},price = #{price},des = #{des}
 	 	where id = #{id}
 	 </update>
 	 
 	 
 	 <delete id="deleteById" parameterType="java.lang.Long">
 	 	delete
 	 	from book
 	 	where id = #{id}
 	 </delete>
 	 
 	 <delete id="batchDelete">
 	 	delete
 	 	from book
 	 	where id in
 	 		<foreach collection="list" item="id" index="key" open="(" separator="," close=")">
 	 			#{id}
 	 		</foreach>
 	 </delete>
</mapper>